.radio__fakeRadio{
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid #A3B8CC;
    border-radius: 50%;
    position: relative;
}
.radio__fakeRadio::before{
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #FF7F22;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .3s;
}
.radio__input:checked ~ .radio__fakeRadio::before{
    opacity: 1;
}