.btn{
    outline: none;
    width: 200px;
    height: 48px;
    border: 2px solid; 
    border-radius: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;    
    text-align: center;
    cursor: pointer;
}