#coin_1{
    position: absolute;
    top: 0;
    left: 0px;
}
#coin_2{
    position: absolute;
    top: 0;
    left: 7px;
}
#coin_3{
    position: absolute;
    top: 0;
    left: 14px;
}
#coin_4{
    position: absolute;
    top: 0;
    left: 21px;
}
#coin_5{
    position: absolute;
    top: 0;
    left: 28px;
}
#coin_6{
    position: absolute;
    top: 0;
    left: 35px;
}
#coin_7{
    position: absolute;
    top: 0;
    left: 42px;
}
#coin_8{
    position: absolute;
    top: 0;
    left: 49px;
}
#coin_9{
    position: absolute;
    top: 0;
    left: 56px;
}
#coin_10{
    position: absolute;
    top: 0;
    left: 63px;
}